.services-item {
  color: $dark;
  text-align: center;
  h4 {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 10px;
    @include media-breakpoint-only(lg) {
      padding-left: 20px;
    }
  }
  p {
    font-size: 14px;
    font-weight: 300;
  }
}

.services-icon {
  position: absolute;
  left: 20px;
  top: -6px;
  width: 35px;
  height: 35px;
  svg,
  path {
    fill: $red;
  }
  svg {
    width: 100%;
    height: 100%;
  }
}
