@import './utils/reset';
@import 'bootstrap';
@import './utils/variables'; 

@import './header';
@import './hero';
@import './services';
*{
  
    font-size:16px;
    font-family: 'Roboto', sans-serif;
}
body{
    color:$white;
}
.btn{
    border-radius: 1px;
    text-transform: capitalize;
    padding:12px 30px;
    font-size:14px;
    font-weight:400; 
}

section{
    padding:120px 0;
    &--gray{
        background:$dark;
    }
}

.section-title{
    font-size:36px;
    color:#222551;
    font-weight:700;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.section-description{
color:#181a1e;
font-size:14px;
text-align: center;
}